.header {
  padding-top: 6rem;
  background-color: #cedefc;
}

nav {
  background: #cedefc;
}

#gallery {
  background-color: #cedefc;
}
#skill {
  background-image: url("img/gallery/1.jpg");
  background-size: cover;
  background-position: center;
}

#skill h2 {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

section {
  padding-top: 5rem;
}

#skill .card {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
}

/* form login */
.login {
  background: linear-gradient(to right top, rgb(83, 143, 253), rgb(200, 220, 247));
}

.circle {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
  box-shadow: 0px 9px 10px 3px rgba(0, 0, 0, 0.1);
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}

.circle:nth-child(1) {
  top: 5%;
  right: 10%;
}
.circle:nth-child(2) {
  bottom: 5%;
  left: 10%;
}
.circle:nth-child(3) {
  bottom: 5%;
  right: 10%;
}

.login .card {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  border-radius: 1rem;
  z-index: 1;
  backdrop-filter: blur(0.5rem);
  position: relative;
  box-shadow: 0px 9px 10px 3px rgba(0, 0, 0, 0.3);
}

/* form register */
.register {
  background: linear-gradient(to right top, rgb(83, 143, 253), rgb(200, 220, 247));
}

.register .card {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  border-radius: 1rem;
  z-index: 1;
  backdrop-filter: blur(0.5rem);
  position: relative;
  box-shadow: 0px 9px 10px 3px rgba(0, 0, 0, 0.3);
}

.circle1,
.circle2 {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
  box-shadow: 0px 9px 10px 3px rgba(0, 0, 0, 0.1);
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  top: 5%;
  right: 10%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
